<template>
  <div class="container">
    <section>
      <form>
        <b-field label="Email">
          <b-input type="email"
                   v-model="email"
                   maxlength="30">
          </b-input>
        </b-field>

        <b-field label="Mot de passe">
          <b-input type="password"
                   v-model="password"
                   password-reveal>
          </b-input>
        </b-field>

        <b-button @click="login">Valider</b-button>
      </form>
    </section>
  </div>
</template>

<script>
import { AUTH_REQUEST } from "../store";

export default {
  name: 'Login',
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    login() {
      if (!(this.email && this.password))
        return;

			this.$store.dispatch(AUTH_REQUEST,
                           { email: this.email, password: this.password })
        .then(() => {
				  this.$router.push('/')
			  })
        .catch((err) => {
        	console.log(err);
					this.$buefy.toast.open({
						duration: 5000,
						message: `Identifiants incorrects`,
						type: 'is-danger'
					})
        })
    },
  },
}
</script>
